p{
    background-color: blueviolet;
    margin-bottom:30px;
    border-top: 15px solid red;padding:5px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 10px 5px 10px 10px chartreuse;
  
}